body {
  text-align: center;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  color: #fff;
  font-family: 'Montserrat-black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #027DE5;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
  left: 20%;
  bottom: 25px;
}

/* Features */

#features {
padding: 7% 15%;
background-color: #fff;
position: relative;
z-index: 1;
}

.feature-title {
  font-size: 1.5;
}

.feature-box {
padding: 5%;
}

.icon {
  color: #ffbf00;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #888888;
}

/* Testimonials */
#testimonials {
  padding: 7% 15%;
  background-color: #4444;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* CTA Section */
#cta {
  background-color: #faca0f;
  color: #fff;
}

.cta-heading {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */

.social-icon {
margin: 20px 10px;
}
